{%- comment -%}

    ██████████████████████████████████████████████████████████████

                       AKR Motion - Code Creation

       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 

                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com
                 
    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

{% schema %}
{
  "name": "Customer Reset Password",
  "class": "shopify-section--main-customers-reset-password",
  "tag": "section"
}
{% endschema %}

<div class="section-spacing section-spacing--tight">
  <div class="container container--xxs">
    <div class="customer-account-box">
      <div class="v-stack gap-6">
        <div class="v-stack gap-4">
          <h1 class="h3">Reset Password</h1>
          <p>Enter a new password to reset your account password.</p>
        </div>

        {%- form 'reset_customer_password', class: 'form' -%}
          <div class="fieldset">
            {%- if form.errors -%}
              {%- assign form_errors = form.errors | default_errors -%}
              {%- render 'banner', status: 'error', content: form_errors -%}
            {%- endif -%}

            {%- assign password_label = 'Password' -%}
            {%- render 'input', type: 'password', name: 'customer[password]', label: password_label, autocomplete: 'new-password', required: true -%}

            {%- assign password_confirmation_label = 'Confirm Password' -%}
            {%- render 'input', type: 'password', name: 'customer[password_confirmation]', label: password_confirmation_label, autocomplete: 'new-password', required: true -%}
          </div>

          {%- assign submit_label = 'Submit' -%}
          {%- render 'button', content: submit_label, type: 'submit' -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
