{%- comment -%}

    ██████████████████████████████████████████████████████████████

                       AKR Motion - Code Creation

       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 

                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com
                 
    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

{% schema %}
{
  "name": "404 Page Not Found",
  "class": "shopify-section--404",
  "tag": "section",
  "settings" : [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    }
  ]
}
{% endschema %}

{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

<div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }}">
  <div class="container container--xs">
    <div class="empty-state">
      <div class="prose">
        <h1 class="h4">Page Not Found</h1>
        <p>Sorry, the page you're looking for doesn't exist.</p>

        {%- assign button_content = 'Continue Shopping' -%}
        {%- assign button_link = section.settings.link | default: routes.all_products_collection_url -%}
        {%- render 'button', content: button_content, href: button_link -%}
      </div>
    </div>
  </div>
</div>
