{%- comment -%}

    ██████████████████████████████████████████████████████████████

                       AKR Motion - Code Creation

       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 

                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com

    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

<div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container container--lg">
    <div class="section-stack">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title -%}

      <div class="prev-next-blog-posts">
        {%- capture sizes -%}(max-width: 699px) 95vw, 500px{%- endcapture -%}

        {%- if blog.previous_article -%}
          {%- render 'blog-post-card', article: blog.previous_article, blog: blog, show_category: section.settings.show_category, show_excerpt: section.settings.show_excerpt, show_read_more: section.settings.show_read_more, sizes: sizes -%}
        {%- endif -%}

        {%- if blog.next_article -%}
          {%- render 'blog-post-card', article: blog.next_article, blog: blog, show_category: section.settings.show_category, show_excerpt: section.settings.show_excerpt, show_read_more: section.settings.show_read_more, sizes: sizes -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Previous&Next Blog Posts",
  "class": "shopify-section--prev-next-blog-posts",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-3"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate Section with Border",
      "default": false
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Read more"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show Category",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show Excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_read_more",
      "label": "Show Read More",
      "default": true
    }
  ]
}
{% endschema %}
